<nav class="navbar navbar-expand-md  border-bottom sticky-top navbar-style">
    <div class="container-fluid ">
      <a class="navbar-brand ms-sm-5"  href="/">Portfolio</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-end " id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto me-5 text-end  ">
          <a class="nav-link " aria-current="page" href="/">Home</a>
          <a class="nav-link " href="#About">About</a>
          <a class="nav-link " href="#skill">Skills</a>
          <a class="nav-link " href="#project">Projects</a>
          <a class="nav-link" href="/contact">Contact</a>
         
        </div>
      </div>
    </div>
  </nav>